body {
    background-color: #121212;

    color: #E5E7EB;
    font-family: "Jetbrains Mono", monospace;
    font-size: 16px;
    line-height: 1.6;
    
    text-align: left;
    margin: 0;
    padding: 20px;
}